$backgroundColor: rgb(16, 30, 61)
$textColor: rgb(0, 132, 255)

.main-footer
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    font-size: 20px
    color: $textColor
    .telephone
        margin-top: 10px
.social-footer
    display: flex
    img
        width: 50px
        margin: 20px
.git-hub-footer
    a
        display: flex
        justify-content: center
        align-items: center
        text-decoration: none
        color: $textColor
    img
        width: 40px
        margin: 10px


@media ( max-width: 400px )
    .social-footer
        flex-direction: column
        img
            margin: 10px
    