$backgroundColor: rgb(16, 30, 61)
$textColor: rgb(33, 148, 255)
$mainTextColor: rgb(181, 216, 255)
$danger: rgb(252, 190, 43)
.main-catalog
    display: flex
    flex-direction: column
.line-catalog
    display: flex
    align-items: center
    justify-content: space-between
    .text-catalog
        margin: 0 10px 20px 20px

        font-size: 24px
        color: $mainTextColor

    .search
        margin: 0 40px 0 40px
        display: flex
        flex-direction: column
        width: 440px
        .select-catalog
            align-self: flex-end
        .input
            margin: 20px 0 20px 10px
            align-self: flex-end
            input
                height: 28px
                width: 400px
                background-color: $backgroundColor
                border: 1px solid $textColor
                color: $textColor
                padding: 0 4px 0 4px


.electro-tovary
    margin: 10px
@media ( max-width: 1200px)
    .line-catalog
        .text-catalog
            font-size: 20px
@media ( max-width: 1050px)
    .line-catalog
        flex-direction: column
        .text-catalog
            font-size: 20px
        .search
            align-self: flex-end
            margin: 0 20px 0 20px
            .select-catalog
                width: 50%
                display: flex
            .input
                width: 100%
                display: flex
                justify-content: flex-end
@media ( max-width: 700px)
    .line-catalog
        .text-catalog
            font-size: 16px
        .search
            margin: 0 10px 10px 10px
            .select-catalog
                width: 50%
                margin: 20px 0 0 10px
            .input
                input
                    width: 100%
@media ( max-width: 450px)
    .line-catalog
        flex-direction: column-reverse
        .text-catalog
            font-size: 16px
        .search
            display: flex
            align-items: center
            flex-wrap: wrap
            width: 100%
            margin: 0 10px 0 10px
            .select-catalog
                width: 210px
                display: flex
                justify-conten: center
                margin: 0
            .input
                display: flex
                width: 200px
                margin: 10px 0 0 0
                input
                    min-width: 100%
                    
    