$backgroundColor: rgb(16, 30, 61)
$textColor: rgb(0, 132, 255)
$mainTextColor: rgb(181, 216, 255)
.slider-main
    width: 100%
    height: 350px
    display: flex
    button
        width: 40px
        height: 40px
        align-self: center
        background-color: $backgroundColor
        border: 1px solid $textColor
        border-radius: 50px
        margin: 10px
        color: $mainTextColor
        font-size: 16px
        text-align: center
        
    button:hover
        background-color: $textColor
.slider-window
    width: 700px
    height: 350px
    overflow: hidden
    .allImg
        width: 700px
        height: 350px
        display: flex
        transition: transform 1s
        .slider-spin-home
            display: flex
            flex-direction: column
            justify-content: space-evenly
            width: 100%
            height: 100%
        img
            min-width: 700px
            height: 350px
@media ( max-width: 1000px  )
    .slider-main
        height: 250px
        .slider-window
            width: 500px
            height: 250px
            .allImg
                width: 500px
                height: 250px
                img
                    min-width: 500px
                    height: 250px
@media ( max-width: 770px  )
    .slider-main
        height: 225px
        .slider-window
            width: 450px
            height: 225px
            .allImg
                width: 450px
                max-height: 225px
                img
                    min-width: 450px
                    height: 225px
@media ( max-width: 550px  )
    .slider-main
        height: 200px
        justify-content: center
        .button
        .prev
            z-index: 10
            margin: 0 155px 0 0
            background-color: rgba(400,400,400,0)
            color: $backgroundColor
        .next
            z-index: 10
            margin: 0 0 0 155px
            background-color: rgba(400,400,400,0)
            color: $backgroundColor
        .slider-window
            width: 400px
            height: 200px
            position: absolute
            
            .allImg
                width: 400px
                max-height: 200px
                .slider-spin-home
                    margin-top: 10px
                img
                    min-width: 400px
                    height: 200px
            
@media ( max-width: 410px  )
    .slider-main
        height: 170px
        .prev
            margin: 0 128px 0 0
        .next
            margin: 0 0 0 128px
        .slider-window
            width: 340px
            height: 170px
            .allImg
                width: 340px
                height: 170px
                img
                    min-width: 340px
                    height: 170px
@media ( max-width: 340px  )
    .slider-main
        height: 140px
        .prev
            margin: 0 100px 0 0
        .next
            margin: 0 0 0 100px
        .slider-window
            width: 280px
            height: 140px
            .allImg
                width: 280px
                height: 140px
                img
                    min-width: 280px
                    height: 140px
    
