.slider-main {
  width: 100%;
  height: 350px;
  display: flex;
}
.slider-main button {
  width: 40px;
  height: 40px;
  align-self: center;
  background-color: rgb(16, 30, 61);
  border: 1px solid rgb(0, 132, 255);
  border-radius: 50px;
  margin: 10px;
  color: rgb(181, 216, 255);
  font-size: 16px;
  text-align: center;
}
.slider-main button:hover {
  background-color: rgb(0, 132, 255);
}

.slider-window {
  width: 700px;
  height: 350px;
  overflow: hidden;
  border-radius: 20px;
}
.slider-window .allImg {
  width: 700px;
  height: 350px;
  display: flex;
  transition: transform 1s;
}
.slider-window .allImg .slider-spin-home {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}
.slider-window .allImg img {
  min-width: 700px;
  height: 350px;
  border-radius: 20px;
}

@media (max-width: 1000px) {
  .slider-main {
    height: 250px;
  }
  .slider-main .slider-window {
    width: 500px;
    height: 250px;
  }
  .slider-main .slider-window .allImg {
    width: 500px;
    height: 250px;
  }
  .slider-main .slider-window .allImg img {
    min-width: 500px;
    height: 250px;
  }
}
@media (max-width: 770px) {
  .slider-main {
    height: 225px;
  }
  .slider-main .slider-window {
    width: 450px;
    height: 225px;
  }
  .slider-main .slider-window .allImg {
    width: 450px;
    max-height: 225px;
  }
  .slider-main .slider-window .allImg img {
    min-width: 450px;
    height: 225px;
  }
}
@media (max-width: 550px) {
  .slider-main {
    height: 200px;
    justify-content: center;
  }
  .slider-main .prev {
    z-index: 10;
    margin: 0 155px 0 0;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(16, 30, 61);
  }
  .slider-main .next {
    z-index: 10;
    margin: 0 0 0 155px;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(16, 30, 61);
  }
  .slider-main .slider-window {
    width: 400px;
    height: 200px;
    position: absolute;
  }
  .slider-main .slider-window .allImg {
    width: 400px;
    max-height: 200px;
  }
  .slider-main .slider-window .allImg .slider-spin-home {
    margin-top: 10px;
  }
  .slider-main .slider-window .allImg img {
    min-width: 400px;
    height: 200px;
  }
}
@media (max-width: 410px) {
  .slider-main {
    height: 170px;
  }
  .slider-main .prev {
    margin: 0 128px 0 0;
  }
  .slider-main .next {
    margin: 0 0 0 128px;
  }
  .slider-main .slider-window {
    width: 340px;
    height: 170px;
  }
  .slider-main .slider-window .allImg {
    width: 340px;
    height: 170px;
  }
  .slider-main .slider-window .allImg img {
    min-width: 340px;
    height: 170px;
  }
}
@media (max-width: 340px) {
  .slider-main {
    height: 140px;
  }
  .slider-main .prev {
    margin: 0 100px 0 0;
  }
  .slider-main .next {
    margin: 0 0 0 100px;
  }
  .slider-main .slider-window {
    width: 280px;
    height: 140px;
  }
  .slider-main .slider-window .allImg {
    width: 280px;
    height: 140px;
  }
  .slider-main .slider-window .allImg img {
    min-width: 280px;
    height: 140px;
  }
}/*# sourceMappingURL=Slider.css.map */