$backgroundColor: rgb(16, 30, 61)
$textColor: rgb(0, 132, 255)
$mainTextColor: rgb(181, 216, 255)
$backgroundColorFooter: rgb(9, 9, 35)
$danger: rgb(252, 190, 43)
.main-tovary
    display: flex
    flex-wrap: wrap
    .main-tovar
        border: 1px solid $textColor
        width: 32%
        display: flex
        flex-direction: column
        justify-content: space-between
        margin: 0 1px 0 1px
        .img-tovar
            img
                width: 100%

                
            
        .header-tovar
            font-size: 40px
            color: $danger
            text-align: center
        .text-tovar
            color: $mainTextColor
            margin: 10px 10px 0 10px
            font-size: 24px
        .main-prise
            align-self: flex-end
            color: $danger
            margin: 20px 10px 4px 0
            .sale-catalog
                font-size: 40px
                display: flex
                p
                    font-size: 40px
                    margin: 0 4px 0 4px
            .prise
                font-size: 28px
                display: flex
                justify-content: flex-end
                p
                




@media ( max-width: 1300px )
    .main-tovar
        min-width: 49%
    
@media ( max-width: 600px )
    .main-tovar
        min-width: 100%


    