$backgroundColor: rgb(16, 30, 61)
$textColor: rgb(0, 132, 255)

.main-home
    display: flex
    flex-direction: column

.hello-content
    margin-left: 60px

.sale-content
    display: flex

    margin-top: 60px
    .text-sale
        margin: 0 40px 0 10px
        font-size: 24px
        
    .slider
        align-self: center
@media ( max-width: 1400px )
    .sale-content
        flex-direction: column
        .slider
            margin-left: 0
        .text-sale
            margin: 40px 10px 40px 40px

    
@media ( max-width: 800px)
    .hello-content
        margin: 0 4px 0 4px
        .slider
            margin: 0
    .sale-content 
        margin: 0 
        .text-sale
            font-size: 16px
            margin: 20px 10px 20px 10px  
      
    

