.main-info {
  margin: 10px;
}
.main-info .modal-img {
  max-width: 100%;
  max-height: 100%;
}
.main-info .maps-modal-window {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  margin: -100px 0 0 0;
  z-index: 10;
}
.main-info .line-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-info .slider-info-main {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-info .main-text {
  display: flex;
  flex-direction: column;
}
.main-info .main-text button {
  background-color: rgb(16, 30, 61);
  border: 1px solid rgb(16, 30, 61);
  align-self: center;
  margin: 10px;
  text-decoration: underline;
  text-decoration-color: rgb(0, 132, 255);
}
.main-info .main-text button:hover {
  border: 1px solid rgb(252, 190, 43);
  cursor: pointer;
}
.main-info .main-text .name {
  text-align: center;
  margin-top: 10px;
  font-size: 40px;
}
.main-info .main-text .text-main-info {
  margin: 10px 20px;
  font-size: 24px;
  color: rgb(181, 216, 255);
  text-align: center;
}
.main-info .main-text .text-main-info a {
  text-decoration-color: rgb(0, 132, 255);
}
.main-info .main-text .text {
  font-size: 22px;
  margin: 0 40px 10px;
  color: rgb(181, 216, 255);
}
.main-info .main-text .text .link-info-catalog {
  color: rgb(252, 190, 43);
  margin-left: 10px;
}
.main-info .more-text {
  margin: 20px 20px 10px 20px;
  font-size: 24px;
  color: rgb(181, 216, 255);
  margin: 10px 40px 10px;
  display: flex;
}
.main-info .more-text .text-time {
  display: flex;
  justify-content: flex-start;
  margin: 0 0 0 20px;
}
.main-info .more-text .text-time a {
  color: rgb(252, 190, 43);
  margin: 0 0 0 4px;
}
.main-info .more-text .time-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 10px 10px 40px;
}
.main-info .more-text .time-info ul {
  min-width: 200px;
}
.main-info .more-text .time-info .date-time {
  margin: 20px 40px 20px 40px;
}
.main-info .more-text .text-welcome {
  align-self: center;
  margin: 0 280px 0 50px;
  line-height: 50px;
}

.danger {
  color: rgb(252, 190, 43);
}

@media (max-width: 1300px) {
  .main-info .line-info {
    flex-direction: column;
  }
  .main-info .slider-info-main {
    min-width: 560px;
    height: 250px;
  }
  .main-info .main-text .name {
    font-size: 40px;
  }
  .main-info .main-text .text-main-info {
    font-size: 24px;
  }
  .main-info .main-text .text {
    font-size: 22px;
  }
  .main-info .more-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px 10px;
  }
  .main-info .more-text .time-info {
    margin: 10px 0 0 0;
  }
  .main-info .more-text .time-info ul {
    min-width: 100px;
  }
  .main-info .more-text hr {
    width: 100%;
    margin: 20px;
    border: none;
    height: 1px;
    background-color: rgb(0, 132, 255);
  }
  .main-info .more-text .text-welcome {
    margin: 0 10px 0 10px;
    line-height: 24px;
  }
  .main-info .more-text .text-time {
    margin: 0;
  }
}
@media (max-width: 1050px) {
  .main-info .slider-info-main {
    min-width: 560px;
    height: 250px;
  }
  .main-info .main-text .name {
    font-size: 28px;
  }
  .main-info .main-text .text-main-info {
    font-size: 24px;
  }
  .main-info .main-text .text {
    font-size: 22px;
    margin: 0 24px 0 24px;
  }
  .main-info .more-text {
    margin: 10px 0 10px 0;
  }
  .main-info .more-text .time-info {
    font-size: 18px;
  }
  .main-info .more-text .text-time {
    font-size: 20px;
  }
  .main-info .more-text .text-welcome {
    font-size: 20px;
  }
}
@media (max-width: 900px) {
  .main-info .slider-info-main {
    min-width: 460px;
    height: 200px;
  }
  .main-info .main-text .name {
    font-size: 24px;
  }
  .main-info .main-text .text-main-info {
    font-size: 20px;
  }
  .main-info .main-text .text {
    font-size: 17px;
  }
  .main-info .more-text hr {
    margin: 10px;
  }
  .main-info .more-text .text-time {
    font-size: 17px;
  }
  .main-info .more-text .text-welcome {
    font-size: 17px;
  }
}
@media (max-width: 800px) {
  .main-info .maps-modal-window {
    margin: 0;
  }
}
@media (max-width: 600px) {
  .main-info .main-text .name {
    font-size: 22px;
  }
  .main-info .main-text .text-main-info {
    font-size: 18px;
  }
  .main-info .main-text .text {
    font-size: 14px;
    margin: 0 16px 0 16px;
  }
  .main-info .more-text {
    font-size: 17px;
  }
  .main-info .more-text .time-info {
    font-size: 17px;
  }
  .main-info .more-text .text-welcome {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .main-info .slider-info-main {
    min-width: 300px;
    height: 200px;
  }
  .main-info .main-text .name {
    font-size: 24px;
  }
  .main-info .main-text .text-main-info {
    font-size: 20px;
  }
  .main-info .main-text .text {
    font-size: 14px;
  }
  .main-info .more-text {
    font-size: 14px;
  }
  .main-info .more-text .time-info {
    font-size: 14px;
  }
  .main-info .more-text .text-welcome {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .main-info .main-text .name {
    font-size: 24px;
  }
  .main-info .main-text button {
    margin: 0;
  }
  .main-info .main-text .text-main-info {
    font-size: 16px;
  }
  .main-info .main-text .text {
    font-size: 16px;
    margin: 10px;
  }
  .main-info .slider-info-main {
    height: 170px;
  }
  .main-info .more-text {
    font-size: 14px;
  }
  .main-info .more-text .time-info {
    font-size: 14px;
    align-items: center;
  }
  .main-info .more-text .time-info ul {
    min-width: 40px;
  }
}
@media (max-width: 340px) {
  .main-info .main-text .name {
    font-size: 20px;
  }
  .main-info .main-text .text-main-info {
    font-size: 16px;
  }
  .main-info .main-text .text {
    font-size: 14px;
  }
  .main-info .more-text {
    font-size: 14px;
  }
  .main-info .more-text .time-info {
    flex-direction: column;
    font-size: 14px;
  }
  .main-info .more-text .text-welcome {
    font-size: 14px;
    line-height: 16px;
  }
}/*# sourceMappingURL=Info.css.map */